<ion-header>
  <ion-navbar color="test">
    <ion-title>blabber</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="post" *ngIf="post">
		<div class="post-header">
  		<img class="user-icon" src="http://bfapp-bfsharing.rhcloud.com{{post.postUser.imageUrl}}" />
  		<h1 class="username">{{post.postUser.username}}</h1>
		</div>
		
		<p>{{post.postText}}</p>

		<div class="submit-comment">
			<ion-input [(ngModel)]="comment" placeholder="Write a comment..."></ion-input>
			<button class="submit-button" (click)="submitComment()" [ngClass]="{'disabled': (!(comment) || comment.length === 0)}" [disabled]="(!(comment) || post.length === 0)">POST</button>
		</div>

		<div *ngFor="let comment of post.comments" class="post-comment">
  		<img class="user-icon" src="http://bfapp-bfsharing.rhcloud.com{{comment.commentUser.imageUrl}}" />
  		<div class="comment-text">
	  		<h1 class="username">{{comment.commentUser.username}}</h1>
				<p>{{comment.commentText}}</p>
			</div>
		</div>
	</div>
</ion-content>
