<ion-header>
  <ion-navbar color="test">
    <ion-title class="custom-header">Feed</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-page">
  <div *ngFor="let post of feed; let i=index">
  	<div *ngIf="i<20" class="post">
  		<div class="post-header">
	  		<img class="user-icon" src="http://bfapp-bfsharing.rhcloud.com{{post.postUser.imageUrl}}" />
	  		<h1 class="username">{{post.postUser.username}}</h1>
  		</div>
  		<p (click)="showPost(post._id)">{{post.postText}}</p>
  		<div (click)="showPost(post._id)" class="post-footer">
  			<p>{{post.comments.length}} comments</p>
	  		<p *ngIf="post.originalPostText">Edited</p>
  		</div>
  	</div>
  </div>
</ion-content>
