page-home {
}

.home-page {
	background-color: #EDEFF2;
}

.toolbar-title {
	color: #fff;
}

.post {
	background-color: #fff;
	margin-bottom: 1vh;
	padding: 2vh
}

.post-header {
	display: flex;
	align-items: center;
}

.post-header h1 {
	margin: 0 2vh;
	font-size: 3vh;
}

img.user-icon {
	height: 7vh;
	width: 7vh;
	border-radius: 50%;
}

.post p {
	font-size: 3vh
}

.post-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.post-footer p {
	margin: 0;
	font-size: 2.5vh;
}