page-home {
}

.home-page {
	background-color: #EDEFF2;
}

.toolbar-title {
	color: #fff;
}

.post {
	background-color: #fff;
	margin-bottom: 1vh;
	padding: 2vh
}

.row {
	display: flex;
	align-items: center;
}

.row h1 {
	margin: 0 2vh;
}

img.user-icon {
	height: 7vh;
	width: 7vh;
	border-radius: 50%;
}