<ion-header>
  <ion-navbar color="test">
    <ion-title>
      blabber
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div class="post-header" *ngIf="user">
		<img class="user-icon lrg-icon" src="http://bfapp-bfsharing.rhcloud.com{{user.imageUrl}}" />
		<div class="user-info">
			<h1 class="username lrg-username">{{user.username}}</h1>
			<p>Blabbering for {{userTimeSince}}</p>
		</div>
	</div>
	<div class="user-buttons">
		<button (click)="takePicture()" color="post" ion-button block><b>Change profile picture</b></button>
		<button color="post" ion-button block (click)="logout()"><b>Log out</b></button>
	</div>
	<img [src]="imageURL" *ngIf="imageURL" />
	<p *ngIf="imageURL">{{imageURL}}</p>
</ion-content>
