.lrg-username {
	font-size: 6vh;
}

.lrg-icon {
	height: 14vh !important;
	width: 14vh !important;
}

.user-info {
	display: flex;
	flex-direction: column;
}

.user-info p {
	margin: 1vh 0 0 2vh;
}

.user-buttons {
	margin-top: 2vh;
}