.lrg-username {
	font-size: 6vh;
}

.lrg-icon {
	height: 14vh !important;
	width: 14vh !important;
}

.user-info {
	display: flex;
	flex-direction: column;
}

.user-info p {
	margin: 1vh 0 0 2vh;
}

.user-buttons {
	margin-top: 2vh;
}

.pic-options {
	display: flex;
	justify-content: space-around;
}

.pic-button {
	border: 2px solid #8EA5EB;
	background: none;
	color: #8EA5EB
}

.pic-preview {
	display: flex;
	align-items: center;
	margin-bottom: 2vh;
}

.pic-preview img {
	height: 16vh;
	width: 16vh;
}

.preview-right {
	display: flex;
	flex-direction: column;
	margin-left: 1vh;
}

.preview-right h1 {
	font-size: 3vh;
}

.confirm-buttons {
	display: flex;
	flex-direction: row;
}

.hidden-input {
	display: none;
}