<ion-header>
  <ion-navbar color="test">
    <ion-title>
      blabber
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div class="post-header" *ngIf="user">
		<img class="user-icon lrg-icon" src="http://bfapp-bfsharing.rhcloud.com{{user.imageUrl}}" />
		<div class="user-info">
			<h1 class="username lrg-username">{{user.username}}</h1>
			<p>Blabbering for {{userTimeSince}}</p>
		</div>
	</div>
	<div class="user-buttons">
		<button (click)="toggleChangingPic()" color="post" ion-button block><b>Change profile picture</b></button>
		<div class="pic-options" *ngIf="changingPic && !(previewingPic)">
			<button ion-button class="pic-button" (click)="takePicture()"><b>Take pic</b></button>
			<button ion-button class="pic-button" (click)="uploadPicture()" ><b>Upload pic</b></button>
		</div>
		<div class="pic-preview" *ngIf="(changingPic && previewingPic)">
			<img [src]="photo.imageFile" *ngIf="photo.imageFile" />
			<div class="preview-right">
				<h1>Set new profile picture?</h1>
				<div class="confirm-buttons">
					<form (ngSubmit)="submitPhoto()">
						<ion-input class="hidden-input" type="file" name="imageFile" [(ngModel)]="photo.imageFile"></ion-input>
						<button ion-button class="pic-button" type="submit">Confirm</button>
					</form>
					<button ion-button class="pic-button" (click)="clearPhoto()">Cancel</button>
				</div>
			</div>
		</div>
		<button color="post" ion-button block (click)="logout()"><b>Log out</b></button>
	</div>
	<p *ngIf="log">{{this.log}}</p>
</ion-content>
